*{
  margin: 0;
  padding: 0;
}
body{
  -webkit-text-size-adjust: 100%;
  background: black; #0f0f0f;
  opasity: 0.39;
  font-size: 10px;
  color: ghostwhite;
}
a{
  text-decoration: none;
  color: #965f92; #a13f83; #79357a; #b3598c; #FF6699; #c3c3c3;
  margin: 0;
}
a:hover{
  opacity: 0.8
}
p{
  margin: 12px 0;
}
h4{
  text-align: center;
}
#hdr{
  height: 15px;
  width: 100%;
  color: #684e5b;
  background-color: #000;
}
.container{
  margin: 9px;
  /* width: 209px; */
}
.quote{
  margin-left: 159px;
}
.content{
  margin: 89px 0;
}

.controls{
  margin-top: 10px;
}
.controls a{
  margin: 0 10px 0 2px;
  -webkit-animation-name: blinking_controls;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes blinking_controls {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}
.i_menu {
    position: fixed;
    top: 0;
    background :rgba(0, 0, 0, 0.8);
    width: 122px;
    height: 100%;
    /* color: black;
    text-align: center; */
    -webkit-transform: translateX(-100%);
    -webkit-transition: -webkit-transform 500ms ease-out;
    z-index: 99;
}
.open {
  -webkit-transform: translateX(0);
}
